= form_tag session_create_path, class: 'navbar-form pull-right'
  = text_field_tag      :username, class: 'col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control'
  = password_field_tag  :password, class: 'col-lg-2 col-md-2 col-sm-2 col-xs-2 form-control'
  = submit_tag          'Login',   class: 'btn btn-primary'
