%nav.navbar.navbar-default.navbar-fixed-top{ role: 'navigation' }
  .container-fluid
    .row
      .col-lg-8.col-md-8.col-sm-8.col-xs-8.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-xs-offset-2
        .navbar-header
          .navbar-brand P4Know
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
          = render partial: 'sessions/form'
